.reveal h1 {
    font-size: 2.1em;
}

.reveal h2 {
    font-size: 1.4em;
}

.reveal h3 {
    font-size: 1.2em;
}

.reveal h4 {
    font-size: 1em;
}

.logo-top-slides {
    position: absolute;
    top: 2%;
    right: -2%;
    max-height: 10%;
    max-width: 10%;
}

.reveal {
    background-image: url('../../img/logo-top.png'), url('../../img/logo_iut.svg');
    background-position: top 2% right 2%, bottom 2% left 2%;
    background-repeat: no-repeat, no-repeat;
    background-size: 10%, 10%;
}

.left {
    text-align: left;
}
